body {
  background-repeat: no-repeat;
  background-size: cover;
}
.title-box {
  width: 1000px;
  line-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  background-color: rgba(80, 80, 80, 0.8);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  font-family: "Righteous", cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: -1px -1px 0 white,
                1px -1px 0 white, 
               -1px 1px 0 white,
                1px 1px 0 white;
}
#game-start-button {
  width: 175px;
  line-height: 70px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Righteous", cursive;
  text-align: center;
}
.col-6 {
  width: 50%;
}
.textBox {
  width: auto;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 40px;
}
.textBoxAnswer {
  width: auto;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 40px;
}
#countdownTimer {
  width: auto;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Major Mono Display", monospace;
  text-align: center;
  font-size: 50px;
  text-shadow: -1px -1px 0 white,
                1px -1px 0 white, 
               -1px 1px 0 white,
                1px 1px 0 white;
}
#pickAnswer {
  width: auto;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 40px;
  text-shadow: -2px -2px 0 white, 
                2px -2px 0 white, 
               -2px 2px 0 white,
                2px 2px 0 white;
}
.textResult {
  width: auto;
  line-height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-width: 5px;
  border-style: solid;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}
#rightWrong {
  font-size: 40px;
  line-height: 50px;
  padding-top: 20px;
}
#factoid {
  line-height: 40px;
  font-size: 20px;
}
#gif {
  width: 400px;
}